USE [master]
GO
/****** Object:  Database [SistemaAcceso]    Script Date: 24/05/2026 10:47:15 p. m. ******/
CREATE DATABASE [SistemaAcceso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaAcceso', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaAcceso.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaAcceso_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaAcceso_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAcceso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAcceso]
GO
/****** Object:  Table [dbo].[PerfilesDeAcceso]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesDeAcceso](
	[CodigoPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Terminales] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios_PerfilesDeAcceso]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_PerfilesDeAcceso](
	[UsuariosDNI] [int] NOT NULL,
	[PerfilesDeAccesoCodigoPerfil] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuariosDNI] ASC,
	[PerfilesDeAccesoCodigoPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_usuarios_perfiles]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_usuarios_perfiles] AS
SELECT 
    u.DNI,
    u.Nombre,           -- ← columna indexada
    u.Telefono,
    p.CodigoPerfil,
    p.Descripcion AS DescripcionPerfil
FROM Usuarios u
INNER JOIN Usuarios_PerfilesDeAcceso upa 
    ON u.DNI = upa.UsuariosDNI
INNER JOIN PerfilesDeAcceso p 
    ON upa.PerfilesDeAccesoCodigoPerfil = p.CodigoPerfil;
GO
/****** Object:  Table [dbo].[PerfilesDeAcceso_Subsistemas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesDeAcceso_Subsistemas](
	[PerfilesDeAccesoCodigoPerfil] [int] NOT NULL,
	[SubsistemasCodigoSubsistema] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilesDeAccesoCodigoPerfil] ASC,
	[SubsistemasCodigoSubsistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsistemas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsistemas](
	[CodigoSubsistema] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[VentanasCodigoVentana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoSubsistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_usuarios_subsistemas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_usuarios_subsistemas] AS
SELECT 
    u.DNI,
    u.Nombre,
    u.Telefono,
    p.CodigoPerfil,        -- ← ahora "p" sí existe
    s.CodigoSubsistema,
    s.Descripcion AS DescripcionSubsistema
FROM Usuarios u
INNER JOIN Usuarios_PerfilesDeAcceso upa 
    ON u.DNI = upa.UsuariosDNI
INNER JOIN PerfilesDeAcceso p                          -- ← tabla agregada
    ON upa.PerfilesDeAccesoCodigoPerfil = p.CodigoPerfil
INNER JOIN PerfilesDeAcceso_Subsistemas ps 
    ON p.CodigoPerfil = ps.PerfilesDeAccesoCodigoPerfil
INNER JOIN Subsistemas s 
    ON ps.SubsistemasCodigoSubsistema = s.CodigoSubsistema;
GO
/****** Object:  Table [dbo].[Acciones]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acciones](
	[CodigoAccion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funciones]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funciones](
	[AccionesCodigoAccion] [int] NOT NULL,
	[NombreFuncion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccionesCodigoAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llamadas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llamadas](
	[AccionesCodigoAccion] [int] NOT NULL,
	[VentanasCodigoVentana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccionesCodigoAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventanas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventanas](
	[CodigoVentana] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoVentana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_ventanas_funciones]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_ventanas_funciones] AS
SELECT 
    v.CodigoVentana,
    v.Descripcion AS DescripcionVentana,
    a.CodigoAccion,
    a.Descripcion AS DescripcionAccion,
    f.NombreFuncion
FROM Ventanas v
INNER JOIN Llamadas l 
    ON v.CodigoVentana = l.VentanasCodigoVentana
INNER JOIN Acciones a 
    ON l.AccionesCodigoAccion = a.CodigoAccion
INNER JOIN Funciones f 
    ON a.CodigoAccion = f.AccionesCodigoAccion;
GO
/****** Object:  Table [dbo].[Botones]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Botones](
	[ControlesCodigoControl] [int] NOT NULL,
	[NombreIcono] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlesCodigoControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Controles]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controles](
	[CodigoControl] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[AccionesCodigoAccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Controles_Ventanas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controles_Ventanas](
	[ControlesCodigoControl] [int] NOT NULL,
	[VentanasCodigoVentana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlesCodigoControl] ASC,
	[VentanasCodigoVentana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsMenu]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsMenu](
	[ControlesCodigoControl] [int] NOT NULL,
	[TextoEnPantalla] [varchar](255) NOT NULL,
	[ItemsMenuControlesCodigoControl] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlesCodigoControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsPerfiles]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsPerfiles](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[PerfilAfectado] [int] NOT NULL,
	[Accion] [varchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsUsuarios]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsUsuarios](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioAfectado] [int] NOT NULL,
	[Accion] [varchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogsVentanas]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsVentanas](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[VentanaAfectada] [int] NOT NULL,
	[Accion] [varchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_nombre]    Script Date: 24/05/2026 10:47:15 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_nombre] ON [dbo].[Usuarios]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogsPerfiles] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[LogsUsuarios] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[LogsVentanas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Botones]  WITH CHECK ADD  CONSTRAINT [Funcionan por ] FOREIGN KEY([ControlesCodigoControl])
REFERENCES [dbo].[Controles] ([CodigoControl])
GO
ALTER TABLE [dbo].[Botones] CHECK CONSTRAINT [Funcionan por ]
GO
ALTER TABLE [dbo].[Controles]  WITH CHECK ADD  CONSTRAINT [Ejecutadas por] FOREIGN KEY([AccionesCodigoAccion])
REFERENCES [dbo].[Acciones] ([CodigoAccion])
GO
ALTER TABLE [dbo].[Controles] CHECK CONSTRAINT [Ejecutadas por]
GO
ALTER TABLE [dbo].[Controles_Ventanas]  WITH CHECK ADD  CONSTRAINT [Están en] FOREIGN KEY([ControlesCodigoControl])
REFERENCES [dbo].[Controles] ([CodigoControl])
GO
ALTER TABLE [dbo].[Controles_Ventanas] CHECK CONSTRAINT [Están en]
GO
ALTER TABLE [dbo].[Controles_Ventanas]  WITH CHECK ADD  CONSTRAINT [Se conforman con] FOREIGN KEY([VentanasCodigoVentana])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[Controles_Ventanas] CHECK CONSTRAINT [Se conforman con]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [Permiten] FOREIGN KEY([AccionesCodigoAccion])
REFERENCES [dbo].[Acciones] ([CodigoAccion])
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [Permiten]
GO
ALTER TABLE [dbo].[ItemsMenu]  WITH CHECK ADD  CONSTRAINT [conforma] FOREIGN KEY([ControlesCodigoControl])
REFERENCES [dbo].[Controles] ([CodigoControl])
GO
ALTER TABLE [dbo].[ItemsMenu] CHECK CONSTRAINT [conforma]
GO
ALTER TABLE [dbo].[ItemsMenu]  WITH CHECK ADD  CONSTRAINT [Un item puede tener muchos items] FOREIGN KEY([ItemsMenuControlesCodigoControl])
REFERENCES [dbo].[ItemsMenu] ([ControlesCodigoControl])
GO
ALTER TABLE [dbo].[ItemsMenu] CHECK CONSTRAINT [Un item puede tener muchos items]
GO
ALTER TABLE [dbo].[Llamadas]  WITH CHECK ADD  CONSTRAINT [Invocan] FOREIGN KEY([VentanasCodigoVentana])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[Llamadas] CHECK CONSTRAINT [Invocan]
GO
ALTER TABLE [dbo].[Llamadas]  WITH CHECK ADD  CONSTRAINT [Realiza una] FOREIGN KEY([AccionesCodigoAccion])
REFERENCES [dbo].[Acciones] ([CodigoAccion])
GO
ALTER TABLE [dbo].[Llamadas] CHECK CONSTRAINT [Realiza una]
GO
ALTER TABLE [dbo].[LogsPerfiles]  WITH CHECK ADD FOREIGN KEY([PerfilAfectado])
REFERENCES [dbo].[PerfilesDeAcceso] ([CodigoPerfil])
GO
ALTER TABLE [dbo].[LogsPerfiles]  WITH CHECK ADD FOREIGN KEY([PerfilAfectado])
REFERENCES [dbo].[PerfilesDeAcceso] ([CodigoPerfil])
GO
ALTER TABLE [dbo].[LogsPerfiles]  WITH CHECK ADD FOREIGN KEY([PerfilAfectado])
REFERENCES [dbo].[PerfilesDeAcceso] ([CodigoPerfil])
GO
ALTER TABLE [dbo].[LogsUsuarios]  WITH CHECK ADD FOREIGN KEY([UsuarioAfectado])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[LogsUsuarios]  WITH CHECK ADD FOREIGN KEY([UsuarioAfectado])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[LogsUsuarios]  WITH CHECK ADD FOREIGN KEY([UsuarioAfectado])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[LogsVentanas]  WITH CHECK ADD FOREIGN KEY([VentanaAfectada])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[LogsVentanas]  WITH CHECK ADD FOREIGN KEY([VentanaAfectada])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[LogsVentanas]  WITH CHECK ADD FOREIGN KEY([VentanaAfectada])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[PerfilesDeAcceso_Subsistemas]  WITH CHECK ADD  CONSTRAINT [Accedido por] FOREIGN KEY([SubsistemasCodigoSubsistema])
REFERENCES [dbo].[Subsistemas] ([CodigoSubsistema])
GO
ALTER TABLE [dbo].[PerfilesDeAcceso_Subsistemas] CHECK CONSTRAINT [Accedido por]
GO
ALTER TABLE [dbo].[PerfilesDeAcceso_Subsistemas]  WITH CHECK ADD  CONSTRAINT [Da acceso a] FOREIGN KEY([PerfilesDeAccesoCodigoPerfil])
REFERENCES [dbo].[PerfilesDeAcceso] ([CodigoPerfil])
GO
ALTER TABLE [dbo].[PerfilesDeAcceso_Subsistemas] CHECK CONSTRAINT [Da acceso a]
GO
ALTER TABLE [dbo].[Subsistemas]  WITH CHECK ADD  CONSTRAINT [puede tener] FOREIGN KEY([VentanasCodigoVentana])
REFERENCES [dbo].[Ventanas] ([CodigoVentana])
GO
ALTER TABLE [dbo].[Subsistemas] CHECK CONSTRAINT [puede tener]
GO
ALTER TABLE [dbo].[Usuarios_PerfilesDeAcceso]  WITH CHECK ADD  CONSTRAINT [otorgan a ] FOREIGN KEY([PerfilesDeAccesoCodigoPerfil])
REFERENCES [dbo].[PerfilesDeAcceso] ([CodigoPerfil])
GO
ALTER TABLE [dbo].[Usuarios_PerfilesDeAcceso] CHECK CONSTRAINT [otorgan a ]
GO
ALTER TABLE [dbo].[Usuarios_PerfilesDeAcceso]  WITH CHECK ADD  CONSTRAINT [Tienen] FOREIGN KEY([UsuariosDNI])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Usuarios_PerfilesDeAcceso] CHECK CONSTRAINT [Tienen]
GO
/****** Object:  StoredProcedure [dbo].[sp_ContarAcciones]    Script Date: 24/05/2026 10:47:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ContarAcciones]
AS
BEGIN
    
    DECLARE @usuario VARCHAR(20)
    DECLARE @accion VARCHAR(50)
    DECLARE @cantidad INT

    -- Cursor
    DECLARE cursorAcciones CURSOR FOR
    SELECT DISTINCT UsuarioAfectado, Accion
    FROM LogsUsuarios

    OPEN cursorAcciones

    FETCH NEXT FROM cursorAcciones 
    INTO @usuario, @accion

    WHILE @@FETCH_STATUS = 0
    BEGIN

        -- Operación matemática
        SELECT @cantidad = COUNT(*)
        FROM LogsUsuarios
        WHERE UsuarioAfectado = @usuario
        AND Accion = @accion

        -- Mostrar resultados
        PRINT 'Usuario: ' + @usuario
        PRINT 'Accion: ' + @accion
        PRINT 'Cantidad de veces realizada: ' + CAST(@cantidad AS VARCHAR)
        PRINT '-----------------------------'

        FETCH NEXT FROM cursorAcciones 
        INTO @usuario, @accion
    END

    CLOSE cursorAcciones
    DEALLOCATE cursorAcciones

END
GO
USE [master]
GO
